@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");
html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  margin: 0;
}
#controls {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 50px 0 1;
  -ms-flex: 50px 0 1;
  flex: 50px 0 1;
  background-color: #fff;
  -webkit-box-shadow: 1px 0 2px #ccc;
  box-shadow: 1px 0 2px #ccc;
  z-index: 1;
  margin-right: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#controls img {
  margin: 0 5px 0 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#controls img:first-child {
  margin-top: 5px;
}
#controls img:hover {
  background-color: #ecf0f1;
}
#controls img:active {
  background-color: #cfd9db;
}
#diagram {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: auto 1 1;
  -ms-flex: auto 1 1;
  flex: auto 1 1;
  background-color: #fafafa;
}
#diagram text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#diagram .button {
  cursor: pointer;
}
#diagram .button > .background {
  width: 20px;
  height: 20px;
  fill: #2980b9;
}
#diagram .button > .line {
  stroke: #fff;
  stroke-width: 2px;
}
#diagram .button > .label {
  font-weight: 600;
  fill: #fff;
  text-anchor: middle;
}
#diagram .button:hover > .background {
  fill: #3498db;
}
#diagram .button:active > .background {
  fill: #2980b9;
}
#diagram .table > .background {
  fill: #ecf0f1;
  stroke: #2980b9;
  stroke-width: 2px;
  cursor: move;
}
#diagram .table > .separator {
  fill: #2980b9;
}
#diagram .table > .tableName {
  font-weight: 800;
  fill: #2c3e50;
  text-anchor: middle;
  cursor: pointer;
}
#diagram .table > .tableName:hover {
  fill: #2980b9;
}
#diagram .table > .tableName:active {
  fill: #2c3e50;
}
#diagram .property > .background {
  fill: #fff;
}
#diagram .property > .label {
  font-weight: 400;
  fill: #2c3e50;
  text-anchor: left;
  cursor: pointer;
}
#diagram .property > .label:hover {
  fill: #2980b9;
}
#diagram .property > .label:active {
  fill: #2c3e50;
}
#diagram .property > .button.primaryKey {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#diagram .property > .button.primaryKey.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
