html {
 	box-sizing: border-box;
 	font-weight: normal;
 	transition: all $global-animation-duration ease-in-out;
}


*, *:before, *:after {
	box-sizing: inherit;
	-webkit-backface-visibility: hidden;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}

main {
	flex: 1 0 auto;
}

ul {
	list-style-type: none;
	padding: 0;
	li {
		list-style-type: none;
	}
}

a {
	text-decoration: none;

	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;
}
