#diagramOverlay {
  display: none;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50px;
  padding-top: calc(50vh - 21px);

  pointer-events: none;
  opacity: 0.25;
  background-color: $colorBlueDark;

  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  color: white;
  text-align: center;
  user-select: none;

  &.active {
    display: block;
  }
}

#diagram {
  flex: auto 1 1;
  background-color: $canvasBackgroundColor;

  text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    user-select: none;
  }

  .button {
    cursor: pointer;

    > .background {
      @include size(20px);
      fill: $colorBlueMedium;
    }

    > .line {
      stroke: white;
      stroke-width: 2px;
    }

    > .label {
      font-weight: 600;
      fill: white;
      text-anchor: middle;
    }

    &:hover {
      > .background {
        fill: $colorBlueMediumLight;
      }
    }

    &:active {
      > .background {
        fill: $colorBlueMedium;
      }
    }
  }

  .table {
    > .background {
      fill: $colorBlueLight;
      stroke: $colorBlueMedium;
      stroke-width: 2px;

      cursor: move;

      &:hover {
        fill: lighten($colorBlueLight, 5);
      }

      &:active {
        fill: darken($colorBlueLight, 10);
      }
    }

    > .separator {
      fill: $colorBlueMedium;
    }

    > .tableName {
      font-weight: 800;
      fill: $colorBlueDark;
      text-anchor: middle;
      cursor: pointer;

      &:hover {
        fill: $colorBlueMedium;
      }

      &:active {
        fill: $colorBlueDark;
      }
    }
  }

  .property {
    > .background {
      fill: white;
    }

    > .label {
      font-weight: 400;
      fill: $colorBlueDark;
      text-anchor: left;
      cursor: pointer;

      &:hover {
        fill: $colorBlueMedium;
      }

      &:active {
        fill: $colorBlueDark;
      }
    }

    > .button.primaryKey {
      opacity: 0.25;

      > .background {
        fill: $colorBlueMediumLight;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}
