$colorBlueDark: #2C3E50;
$colorBlueMedium: #2980B9;
$colorBlueMediumLight: #3498DB;
$colorBlueLight: #ECF0F1;
$colorBlueRed: #E74C3C;

$canvasBackgroundColor: #FAFAFA;

$controlsBackgroundColor: #FFF;
